<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="riakConfig" type="RiakClient.Config.RiakClusterConfiguration, RiakClient" />
    </configSections>


    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <riakConfig nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
        <nodes>
            <node name="coordinator" hostAddress="192.168.79.3" pbcPort="8087" poolSize="20" />
            <node name="member1" hostAddress="192.168.79.5" pbcPort="8087" poolSize="20" />
        </nodes>
    </riakConfig>
</configuration>
